# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Local
local.properties

# Kotlin
*.class

# Android
/captures
.externalNativeBuild/
.cxx/

# Misc
*.log
*.tmp
